{% extends 'base.html' %}

{% block body %}
  <!--모든 post를 보여줌-->
  <div class="row justify-content-center"> <!-- row는 포함된 것을 flex로 만든다 -->
    {% for post in posts %}
      <!--width 조정하면 가로폭 달라짐-->
      <div class="card" style="width: 40rem;">
        <div class="card-header">
          <span>{{ post.user.username }}</span>
        </div>
        <img src="{{ post.image.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <p class="card-text">{{ post.content }}</p>
          <!--본인의 글만 삭제, 수정 버튼이 보이도록-->
          {% if request.user == post.user %}
            <a href="{% url 'posts:update' post.id %}" class="btn btn-success">수정</a>
            <a href="{% url 'posts:delete' post.id %}" class="btn btn-danger">삭제</a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}